<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIS 9440 Homework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Welcome! This is for CIS 9440 Homework!</h1>
        <h2>Supplemental Nutrition Assistance Program (SNAP) Retailer Locator Project</h2>
    </header>

    <section>
        <h3>Summary of Data</h3>
        <p>
        SNAP (Supplemental Nutrition Assistance Program) provides food assistance benefits to low-income families in the United States. 
        This program helps families purchase nutritious food items, promoting health and overall well-being. 
        SNAP benefits are distributed through electronic benefit transfer (EBT) cards, which work like debit cards at participating grocery stores and retailers. 
        The aim of SNAP is to alleviate hunger and improve access to essential food items for vulnerable populations.
        </p>
        <p>
        The SNAP Retailer Locator Power BI is an tool that enables users to find nearby retailers authorized to accept SNAP (Supplemental Nutrition Assistance Program) benefits. 
        By entering zip code, users can pinpoint SNAP-eligible retailers and access detailed information and directions to the address and store type.
        Although primarily designed for SNAP recipients, the tool is also useful for government agencies, community organizations, and others assisting SNAP beneficiaries. 
        The data from the SNAP Retailer Locator, which includes retailer details and geographic coordinates, can be downloaded as a CSV file for easy integration into desktop spreadsheet applications.
        </p>
    </section>

    <section>
        <h3>Github</h3>
        <ul>
            <li><a href="https://github.com/WangCheungLoAce/SNAP_data.git">SNAP_Data Project Github link</a></li>
        </ul>
    </section>

    <section>
        <h3>Data Source</h3>
        <ul>
            <li><a href="https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program">SNAP Program Homepage</a></li>
            <li><a href="https://www.fns.usda.gov/snap/retailer/data">SNAP Retailer Data</a></li>
        </ul>
    </section>

    <section>
        <h3>Data Web Scraping</h3>
        <p>Click the button below to execute the web scraping script:</p>
        <form action="/webscraping" method="POST">
            <button type="submit" class="button"><span>Run Web Scraping</span></button>
        </form>
        {% if outputs['web_scraping'] %}
        <div><p>{{ outputs['web_scraping'] }}</p></div>
        {% endif %}
    </section> 
1000111220
    <section>
        <h3>Power BI</h3>
        <ul>
            <li><a href="https://app.powerbi.com/reportEmbed?reportId=be5ea628-4753-4470-9ee1-90b81d9450df&autoAuth=true&ctid=6f60f0b3-5f06-4e09-9715-989dba8cc7d8">Power BI (snapdata_dw_bi)</a></li>
        </ul>

        <h3>Mobil App PowerBI View</h3>
        <img src="{{ url_for('static', filename='images/snapdata_dw_bi.jpg') }}" alt="snapdata_dw_bi">
    </section>

    <section style="position: relative; overflow: hidden; padding-top: 56.25%;">
        <iframe title="snapdata_dw_bi" 
                src="https://app.powerbi.com/reportEmbed?reportId=be5ea628-4753-4470-9ee1-90b81d9450df&autoAuth=true&ctid=6f60f0b3-5f06-4e09-9715-989dba8cc7d8" 
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" 
                allowFullScreen="true">
        </iframe>
    </section>
 

    <section>
    </section>

    <footer>
        <p>&copy; 2024 LoLoAce</p>
    </footer>

    <!-- The overlay -->
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
        <!-- Overlay content -->
        <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        </div>
    
    </div>
  
    <!-- Use any element to open/show the overlay navigation menu -->
    <!--<span onclick="openNav()">open</span> -->


    <!-- Back to Top Button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <script>
    // Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>
</body>
</html>
